@import "../../constants/constants";

.FSMusicPlayer{
    min-width: 980px;
    width: 100%;
    height: 110vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: $z-index-9999;
    user-select: none;
    justify-content: center;
    position: fixed;
    background: var(--var-glass-music-bar-bg);

    .FSMusicPlayer-container{
        position: relative;
        min-width: 980px;
        width: 100%;
        height: 110vh;

        .background-img{
            min-width: 980px;
            width: 100%;
            height: 110vh;
            display: flex;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            transform: scale(1.8);

            .image-container{
                min-width: 980px;
                width: 100%;
                height: 110vh;
                display: flex;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                filter: var(--var-layer-blur-300);

                img{
                    display: inline;
                    min-width: 100%;
                    margin: 0 auto;
                    height: 100%;
                    object-fit: cover;
                }

                svg{
                    width: 100%;
                    height: 100%;
                }
            }

            .rotate {
                animation: rotate 40s linear infinite alternate-reverse;
            }

            @keyframes rotate {
                to {
                    transform: rotate(360deg);
                }
            }
        }

        .frontward_facing_player{
            min-width: 980px;
            width: 100%;
            height: 110vh;
            margin-top: -110vh;
            background: $blur-element;
            position: absolute;
            backdrop-filter: var(--var-bg-blur-150);
            
            .navbar_buttons{
                display: flex;
                justify-content: center;

                .close_full_screen_player_btn, .toggle_full_screen_player_btn{
                    margin-top: 40px;
                    width: 172px;
                    height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    background: $white-900;
                    margin-right: 5px;
                    h2{
                        color: $gray-1000;
                        font-size: 12px;
                    }
                }
    
                .toggle_full_screen_player_btn{
                    margin-left: 5px;
                    margin-right: 0px;
                }
            }

            .main_visible_content{
                display: flex;
                justify-content: space-around;
                height: calc(100vh - 74px);
                align-items: center;
            }
        }
    }
}