@import "../../constants/constants";

.HistoryUpcoming{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(350px + 5vw);
    height: 80vh;

    .scrollbar-container{
        height: 85%;
        margin-bottom: 20px;
        ::-webkit-scrollbar{
            display: none;
        }
        .Upcoming_view, .History_view{
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            height: 100%;
            width: calc(350px + 4vw);
            overflow-y: auto;
            // fade out top 10% and bottom 10% and only focus on the middle
            mask-image: linear-gradient(
                180deg,
                rgb(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 30%,
                rgba(0, 0, 0, 1) 70%,
                rgb(0, 0, 0, 0) 100%
            );
        }
    
        .top_view{
            height: 100%;
            width: calc(350px + 4vw);
            overflow-y: auto;
            mask-image: linear-gradient(
                180deg,
                rgb(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 30%,
                rgba(0, 0, 0, 1) 70%,
                rgb(0, 0, 0, 0) 100%
            );
        }
    
        .bottom_view{
            height: 100%;
            width: calc(350px + 4vw);
            overflow-y: auto;
            mask-image: linear-gradient(
                180deg,
                rgb(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 30%,
                rgba(0, 0, 0, 1) 70%,
                rgb(0, 0, 0, 1) 100%
            );
        }
    }


    .HistoryUpcoming_tabs{
        display: flex;
        justify-content: space-evenly;

        .Upcoming_tab, .History_tab{
            justify-content: center;
            align-items: center;
            position: relative;
            background: $on-hover-song;
            width: 130px;
            height: 34px;

            .selected{
                background: $white-900;
                position: absolute;
                inset: 0;
            }

            h3{
                position: relative;
                color: $white-900;
                mix-blend-mode: exclusion;
                font-size: 12px;
                margin-top: 9px;
                text-align: center;
            }
        }

        .Upcoming_tab{
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;

            .selected{
                border-top-left-radius: 13px;
                border-bottom-left-radius: 13px;
            }
        }

        .History_tab{
            border-top-right-radius: 13px;
            border-bottom-right-radius: 13px;

            .selected{
                border-top-right-radius: 13px;
                border-bottom-right-radius: 13px;
            }
        }

        .Upcoming_tab:hover, .History_tab:hover{
            background: $on-hover-song;
        }
    }
}

.HistoryUpcoming-ContextMenu-container{
    width: 100vw;
    height: calc(100vh - 32px);
    position: fixed;
    z-index: $z-index-9000;
    top: 32px;
    left: 0px;
}