@import "../../constants/constants";

.HistoryUpcoming{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(350px + 5vw);
    height: 80vh;

    /* Track */
    ::-webkit-scrollbar-track { margin-top: 15px; margin-bottom: 0px; }

    .Upcoming_view{
        height: 85%;
        width: calc(350px + 4vw);
        padding-right: 1vw;
        margin-bottom: 20px;
        overflow-y: auto;
    }

    .History_view{
        height: 85%;
        width: calc(350px + 4vw);
        padding-right: 1vw;
        margin-bottom: 20px;
        overflow-y: auto;
    }

    .HistoryUpcoming_tabs{
        display: flex;
        justify-content: space-evenly;

        .Upcoming_tab, .History_tab{
            justify-content: center;
            align-items: center;
            position: relative;
            background: $on-hover-song;
            width: 130px;
            height: 34px;

            .selected{
                background: $white-900;
                position: absolute;
                inset: 0;
            }

            h3{
                position: relative;
                color: $white-900;
                mix-blend-mode: exclusion;
                font-size: 12px;
                margin-top: 9px;
                text-align: center;
            }
        }

        .Upcoming_tab{
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;

            .selected{
                border-top-left-radius: 13px;
                border-bottom-left-radius: 13px;
            }
        }

        .History_tab{
            border-top-right-radius: 13px;
            border-bottom-right-radius: 13px;

            .selected{
                border-top-right-radius: 13px;
                border-bottom-right-radius: 13px;
            }
        }

        .Upcoming_tab:hover, .History_tab:hover{
            background: $on-hover-song;
        }
    }
}

.HistoryUpcoming-ContextMenu-container{
    width: 100vw;
    height: calc(100vh - 32px);
    position: fixed;
    z-index: $z-index-9000;
    top: 32px;
    left: 0px;
}