@import "../../constants/constants";

.HistoryUpcoming{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(350px + 5vw);
    height: 80vh;

    .Upcoming_view{
        height: 85%;
        width: calc(350px + 5vw);
        margin-bottom: 20px;
        overflow-y: auto;
    }

    .History_view{
        height: 85%;
        width: calc(350px + 5vw);
        margin-bottom: 20px;
        overflow-y: auto;
    }

    .HistoryUpcoming_tabs{
        width: 350px;
        display: flex;
        justify-content: space-evenly;

        .Upcoming_tab, .History_tab{
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            position: relative;
            width: 130px;
            height: 34px;

            .selected{
                background: $white-900;
                position: absolute;
                border-radius: 15px;
                inset: 0;
            }

            h3{
                position: relative;
                color: $white-900;
                mix-blend-mode: exclusion;
                font-size: 12px;
                margin-top: 9px;
                text-align: center;
            }
        }

        .Upcoming_tab:hover, .History_tab:hover{
            opacity: 0.8;
        }
    }
}

.HistoryUpcoming-ContextMenu-container{
    width: 100vw;
    height: calc(100vh - 32px);
    position: fixed;
    z-index: $z-index-9000;
    top: 32px;
    left: 0px;
}