@import "../../constants/constants";

.FriendCard{
    width: calc(100% - 5px);
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 6px;

    .profile_img{
        width: 40pz;
        height: 40px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-radius: 17px;
        margin-left: 20px;

        img{
            display: inline;
            min-width: 100%;
            margin: 0 auto;
            height: 100%;
            object-fit: cover;
        }
    }

    h2{
        margin-left: 15px;
        font-size: 13px;
        height: 13px;
        margin-top: 0px;
        width: calc(100% - 159px);
        cursor: pointer;
    }

    .remove-friend, .add-friend{
        svg{
            margin-left: 10px;
            path{
                fill: $red-900;
            }
        }
    }

    .friendshipRequestAction{
        display: flex;
        //.accept-request{
//
        //}

        .reject-request{
            margin-left: 20px;
            path{
                stroke: $red-900;
            }
        }
    }
}

.FriendCard:hover, .FriendCard-selected{
    background: $on-hover-song;
    backdrop-filter: var(--var-bg-blur-150);
}

.FriendCard:active{
    opacity: 0.9;
}