@import "../../constants/constants";

.FriendComponent{
    display: flex;
    align-items: center;
    width: 222px;
    height: 34px;
    margin-bottom: 20px;
    cursor: pointer;
    .circular_white_dot{
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $white-900;
    }

    .user_image{
        height: 30px;
        width: 30px;
        margin-left: 6px;
        border-radius: 13px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

        img{
            display: inline;
            min-width: 100%;
            margin: 0 auto;
            height: 100%;
            object-fit: cover;
        }
    }

    h2{
        max-width: 160px;
        text-overflow: ellipsis;
        font-size: 13px;
        margin-left: 6px;
    }
}

@media only screen and (max-width: 1180px){
    .FriendComponent{
        width: fit-content;
        height: 34px;

        h2{
            display: none;
            width: 0px;
            max-width: 0px;
        }
    }
}