@import "../../constants/constants";

.LargeResizableCover{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    transition: height 0.2s ease;
    transition: width 0.2s ease;
    position: relative;

    .first_cover, .second_cover{
        width: 250px;
        height: 250px;
        transition: height 0.2s ease;
        transition: width 0.2s ease;
        border-radius: 20px;
        flex-shrink: 0;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

        img{
            display: inline;
            min-width: 100%;
            margin: 0 auto;
            height: 100%;
            object-fit: cover;
        }

        svg{
            width: 100%;
            height: 100%;
        }
    }

    .first_cover{
        filter: $bg-blur-150;
    }

    .second_cover{
        margin-top: -250px;
        position: absolute;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}