@import "../../constants/constants";

.LoginButtonV, .LoginButtonH{
    display: flex;
    width: 137px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 16px;
    background: $white-900;
    padding-left: 13px;
    align-items: center;

    h3{
        margin-left: 13px;
        font-size: 13px;
        height: 13px;
        color: $black-1000;
    }
}

.LoginButtonH{
    mix-blend-mode: overlay;
    opacity: 0.5;
}