@import "../../constants/constants";

.MusicPopOver{
    position: fixed;
    width: 284px;
    height: 447px;
    bottom: 0;
    left: 0;
    display: none;
    z-index: $z-index-9999;

    .popover{
        width: 234px;
        height: 327px;
        margin-left: 16px;
        margin-top: 14px;
        padding: 9px;
        border: 1px solid $songs-container-border-col;
        background: var(--var-songs-container-bg-col);
        box-shadow: $box-shadow-10-10-25;
        backdrop-filter: var(--var-bg-blur-150);
        border-radius: 20px;

        .music_cover_art{
            width: 234px;
            height: 234px;
            flex-shrink: 0;
            display: flex;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            img{
                display: inline;
                min-width: 100%;
                margin: 0 auto;
                height: 100%;
                object-fit: cover;
            }

            svg{
                width: 100%;
                height: 100%;
            }
        }

        h2{
            width: 234px;
            font-size: 12px;
            height: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        h3{
            width: 234px;
            font-size: 9px;
            height: 15px;
            overflow: hidden;
            font-family: 'inter-italic-regular', sans-serif;
            font-style: italic;
            text-overflow: ellipsis;
        }

        .buttons{
            width: 234px;
            display: flex;

            .button-left, .button-right{
                justify-content: center;
                align-items: center;
                background: $on-hover-song;
                width: 117px;
                height: 34px;
                h3{
                    color: $white-900;
                    font-size: 12px;
                    text-align: center;
                    width: 117px;
                    margin-top: 9px;
                }
            }

            .button-left{
                border-top-left-radius: 13px;
                border-bottom-left-radius: 13px;
                border-right: 1px solid $songs-container-border-col;
            }

            .button-right{
                border-top-right-radius: 13px;
                border-bottom-right-radius: 13px;
                border-left: 1px solid $songs-container-border-col;
            }
        }
    }
}

.MusicPopOver-visible{
    display: inline;
}