@import "../../constants/constants";

.AddFriendModal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: $blur-element;
    display: none;
    justify-content: center;
    align-items: center;

    .modal{
        width: 350px;
        height: fit-content;
        padding: 20px;
        border-radius: 20px;
        background: var(--var-flags-blur);
        backdrop-filter: $bg-blur-150;
        border: 1px solid $songs-container-border-col;

        h1{
            font-size: 24px;
        }

        h3{
            margin-top: 30px;
            font-size: 16px;
        }

        input[type="text"]{
            width: calc(100% - 8px);
            height: 50px;
            border: none;
            padding: 4px;
            outline: none;
            background: $btn-clickable;
            border-radius: 16px;
            font-size: 22px;
            color: $white-900;
            margin-top: 2px;
        }

        h4{
            margin-top: 10px;
            font-size: 16px;
        }

        .submit{
            margin-top: 10px;
            width: 100%;
            height: 50px;
            background-color: $app-theme-col;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .submit:hover{
            opacity: 0.8;
        }
    }
}

.AddFriendModal-visible{
    display: flex;
}