@import "../../constants/constants";

.AddSongToPlaylistModal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: $blur-element;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: $z-index-9999;

    .AddSongToPlaylistModal-modal{
        width: 300px;
        height: 350px;
        padding: 10px;
        border: 1px solid $songs-container-border-col;
        background: var(--var-songs-container-bg-col);
        box-shadow: $box-shadow-10-10-25;
        backdrop-filter: var(--var-bg-blur-150);
        -webkit-backdrop-filter: var(--var-bg-blur-150);
        border-radius: 20px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1{
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 20px;
            margin-left: 7px;
            width: 100%;
            text-align: center;
        }

        .playlists{
            width: 100%;
            flex-grow: 1;
            overflow-y: auto;
            .playlist{
                display: flex;
                align-items: center;
                width: 280px;
                margin-bottom: 10px;
                height: 40px;
                padding: 5px;
                border-radius: 15px;
                .playlist_img{
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    img{
                        display: inline;
                        min-width: 100%;
                        margin: 0 auto;
                        height: 100%;
                        object-fit: cover;
                    }

                    svg{
                        width: 40px;
                        height: 40px;
                    }
                }

                h2{
                    width: 230px;
                    font-size: 16px;
                    margin-left: 10px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    height: 18px;
                }
            }

            .playlist:hover{
                background: $on-hover-song;
            }
        }

        .create_playlist{
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% - 10px);
            height: 40px;
            border-radius: 15px;
            background: $app-theme-col;
            margin-top: 10px;
        }
    }
}

.AddSongToPlaylistModal-visible{
    display: flex;
}