@import "../../constants/constants";

.AirplayCastModal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: $blur-element;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: $z-index-9500;

    /* Track */
    ::-webkit-scrollbar-track { margin-top: 0px; margin-bottom: 0px; }

    .modal{
        width: 400px;
        height: 70%;
        padding: 10px;
        border: 1px solid $songs-container-border-col;
        background: var(--var-songs-container-bg-col);
        box-shadow: $box-shadow-10-10-25;
        backdrop-filter: var(--var-bg-blur-150);
        border-radius: 20px;
        padding-right: 0px;

        h2{
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
        }

        .devices-list{
            width: 100%;
            height: 32.5%;
            overflow-y: auto;

            .device-container{
                width: calc(100% - 4px);
                height: 40px;
                border-radius: 13px;
                margin-top: 5px;
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                overflow: hidden;

                h3{
                    margin-left: 5px;
                }
            }

            .device-container:hover{
                background: $on-hover-song;
            }
        }

        .scan_button{
            display: flex;
            width: calc(100% - 10px);
            height: 34px;
            border-radius: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;
            background: $app-theme-col;
    
            h3{
                color: $root-app-navigator-hover-col;
                font-size: 13px;
                text-align: center;
                width: 100%;
            }
        }
    }
}

.AirplayCastModal-visible{
    display: flex;
}