@import "../../constants/constants";

.CreatePlaylistModal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: $blur-element;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: $z-index-9500;

    .modal{
        width: 300px;
        height: 350px;
        padding: 20px;
        border: 1px solid $songs-container-border-col;
        background: var(--var-songs-container-bg-col);
        box-shadow: $box-shadow-10-10-25;
        backdrop-filter: var(--var-bg-blur-150);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 20px;
        }

        .playlist_image{
            position: relative;
            .playlist_img{
                width: 150px;
                height: 150px;
                border-radius: 40px;
                overflow: hidden;

                img{
                    display: inline;
                    min-width: 100%;
                    margin: 0 auto;
                    height: 100%;
                    object-fit: cover;
                }
                .blank_cover{
                    background: $gray-600;
                    width: 150px;
                    height: 150px;
                }
            }

            .EditImageicon{
                position: absolute;
                margin-left: 113px;
                margin-top: -31px;
                input[type="file"]{display: none;} 
            }
        }

        h3{
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        input[type="text"]{
            width: calc(100% - 8px);
            height: 50px;
            border: none;
            padding: 4px;
            outline: none;
            background: $btn-clickable;
            border-radius: 16px;
            font-size: 22px;
            color: $white-900;
            margin-top: 2px;
        }

        .create_playlist{
            margin-top: 10px;
            width: 100%;
            height: 50px;
            background-color: $app-theme-col;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: $root-app-navigator-hover-col;
        }

        .create_playlist:hover{
            opacity: 0.8;
        }
    }
}

.CreatePlaylistModal-visible{
    display: flex;
}