@import "../../constants/constants";

.DeletePlaylistModal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: $blur-element;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: $z-index-9999;

    .confirm_deletion_modal{
        width: 300px;
        height: 203px;
        padding: 13px;
        border: 1px solid $songs-container-border-col;
        background: var(--var-songs-container-bg-col);
        box-shadow: $box-shadow-10-10-25;
        backdrop-filter: var(--var-bg-blur-150);
        -webkit-backdrop-filter: var(--var-bg-blur-150);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .covers{
            margin-top: 13px;
            margin-left: 13px;
            margin-bottom: 13px;
            width: 24px;
            height: 24px;
            position: relative;
            .first_cover, .second_cover{
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                display: flex;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                svg{
                    width: 100%;
                    height: 100%;
                }
            }
    
            .first_cover{
                background: $orange-1000;
                filter: $layer-blur-50;
                -webkit-filter: $layer-blur-50;
            }
    
            .second_cover{
                margin-top: -24px;
                position: absolute;
            }
        }

        h3{
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 20px;
        }

        .cancel_button, .delete_button{
            margin-top: 7px;
            width: 100%;
            height: 35px;
            border-radius: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: $white-900;
        }

        .cancel_button:hover, .delete_button:hover{
            opacity: 0.8;
        }

        .cancel_button{ background: $on-hover-song; }

        .delete_button{ background: $red-900; }
    }
}

.DeletePlaylistModal-visible{
    display: flex;
}