@import "../../constants/constants";

.DirectoriesModal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: $blur-element;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: $z-index-9500;

    h2{
        font-size: 20px;
        margin-bottom: 20px;
        background-color: $gray-900;
        padding: 4px;
        border-radius: 15px;
    }

    .modal{
        width: 500px;
        height: 350px;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid $songs-container-border-col;
        background: var(--var-songs-container-bg-col);
        backdrop-filter: var(--var-bg-blur-150);
        border-radius: 20px;
        font-size: 16px;
        resize: none;
        overflow-y: auto;
        color: $white-900;
        margin-bottom: 20px;
    }

    .select_directory{
        display: flex;
        height: 34px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 15px;
        margin-bottom: 20px;
        align-items: center;
        transition: all 0.1s ease-in-out;
        background: $app-theme-col;

        h3{
            color: $root-app-navigator-hover-col;
            font-size: 13px;
        }
    }
}

.DirectoriesModal-visible{
    display: flex;
}