@import "../../constants/constants";

.LeftSidebar{
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    border: 1px solid $songs-container-border-col;
    height: calc(100vh - 146px);
    border-radius: 20px;

    background: var(--var-songs-container-bg-col);
    backdrop-filter: var(--var-bg-blur-150);
    -webkit-backdrop-filter: var(--var-bg-blur-150);

    .user_library{
        h1{
            width: 100%;
            font-size: 16px;
            margin-bottom: 6px;
            text-wrap: nowrap;
            word-break: normal;
            white-space: nowrap;
        }
    }
}

@media only screen and (max-width: 1046px){
    .LeftSidebar{
        padding-left: 8px;
        padding-right: 8px;

        .user_library{
            h1{
                text-align: center;
            }
        }
    }
}