@import "../constants/constants";

.AdvancedSettings{
    height: calc(100% - 20px);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    h2{
        font-size: 24px;
        height: 24px;
        margin-top: 0px;
        margin-bottom: 23px;
    }

    .Settings_container{
        height: calc(100vh - 127px);
        width: 100%;
        overflow-y: auto;

        .setting{
            display: flex;
            align-items: center;
            width: calc(100% - 24px);
            height: 50px;
            border-radius: 16px;
            background: $on-hover-song;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 5px;
            margin-bottom: 20px;
            position: relative;
            overflow: visible;

            h3{
                font-size: 13px;
            }

            .setting_dropdown{
                width: 156px;
                height: 40px;
                border-radius: 10px;
                background: $app-theme-col;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h4{
                    font-size: 13px;
                    height: min-content;
                    margin-left: 4px;
                    color: $root-app-navigator-hover-col;
                }
                
                .chevron_icon{
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 4px;
                    svg{
                        path{
                            stroke: $root-app-navigator-hover-col;
                        }
                    }
                }
            }

            .DropDownMenu_container{
                position: absolute;
                right: 5px;
                top: 55px;
                z-index: $z-index-9250;
            }

            input[type="number"]{
                width: 156px;
                height: 40px;
                border-radius: 10px;
                background: $gray-stroke-20;
                border: none;
                outline: none;
                padding: 0px 0px 0px 0px;
                padding-left: 4px;
                padding-right: 4px;
                font-size: 13px;
                color: $white-900;
                font-family: 'inter-italic-regular', sans-serif;
                font-style: italic;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}