@import "../constants/constants";

.AppearanceSettings{
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    h2{
        font-size: 24px;
        height: 24px;
        margin-top: 0px;
        margin-bottom: 23px;
    }

    .AppearanceSettings_container{
        height: calc(100vh - 127px);
        width: 100%;
        overflow-y: auto;
        padding-left: 5px;

        h3{
            font-size: 13px;
            height: 13px;
            margin-top: 19px;
            margin-bottom: 15px;
        }

        .background_select{
            display: flex;
            margin-bottom: 10px;

            .button_select{
                width: 150px;
                height: 100px;
                border-radius: 25px;
                margin-right: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
            }

            .button_selected{
                border: 3px solid $app-theme-col;
                width: 144px;
                height: 94px;
            }

            .add_wallpaper{
                background: $btn-clickable;
                input[type="file"]{display: none;} 
            }

            .black_linear{
                background: $black-linear;
            }

            .pink_blue_gradient{
                background: $pink_blue_gradient;
            }

            .blue_purple_gradient{
                background: $blue_purple_gradient;
            }
        }

        .opacity_amount{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .button_select{
                width: 100px;
                height: 50px;
                border-radius: 20px;
                margin-right: 15px;
                margin-bottom: 20px;
                background: $btn-clickable;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            .button_selected{
                border: 3px solid $app-theme-col;
                width: 94px;
                height: 44px;
            }
        }

        .color_theme{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .button_select{
                width: 100px;
                height: 50px;
                border-radius: 20px;
                margin-right: 15px;
                margin-bottom: 20px;
            }

            .button_selected{
                border: 3px solid $gray-900;
                width: 94px;
                height: 44px;
            }

            .saucy{
                background: $red-900;
            }

            .salmon{
                background: $red-300;
            }

            .violet{
                background: $purple-300;
            }

            .lime{
                background: $green-300;
            }

            .sunny{
                background: $yellow-300;
            }

            .ubuntu{
                background: $orange-1000;
            }

            .blueberry{
                background: $blue-300;
            }

            .midnight{
                background: $black-800;
            }

            .blinding{
                background: $white-900;
            }
        }

        .playerbar_select, .animations_select, .Themeblur_select{
            display: flex;
            margin-bottom: 10px;

            .button_select{
                width: 150px;
                height: 100px;
                border-radius: 25px;
                margin-right: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-size: 13px;
            }

            .glass{
                background: $btn-clickable;
            }

            .album_cover{
                background: $pink_blue_gradient;
            }

            .black_linear{
                background: $black-linear;
            }

            .button_selected{
                border: 3px solid $app-theme-col;
                width: 144px;
                height: 94px;
            }
        }
    }
}