@import "../constants/constants";

.ExportSettings{
    height: calc(100% - 20px);
    padding-left: 15px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;

    h2{
        font-size: 24px;
        height: 24px;
        margin-top: 0px;
        margin-bottom: 23px;
    }

    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: center;

        input[type="text"]{
            width: calc(100% - 200px);
            height: 40px;
            border-radius: 10px;
            background: $gray-stroke-20;
            border: none;
            outline: none;
            padding: 0px 0px 0px 0px;
            padding-left: 4px;
            padding-right: 4px;
            font-size: 13px;
            color: $white-900;
            font-family: 'inter-italic-regular', sans-serif;
            font-style: italic;
            margin-right: 5px;
        }

        .export_button{
            display: flex;
            width: 157px;
            height: 34px;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 15px;
            align-items: center;
            transition: all 0.1s ease-in-out;
            background: $app-theme-col;
    
            h3{
                color: $root-app-navigator-hover-col;
                font-size: 13px;
                text-align: center;
                width: 100%;
            }
        }
    }

    .sub_heading{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: center;
    }

    .ExportSettings_container{
        height: calc(100vh - 250px);
        width: 100%;
        overflow-y: auto;

        .path{
            display: flex;
            align-items: center;
            width: calc(100% - 20px);
            height: 50px;
            border-radius: 16px;
            background: $on-hover-song;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 5px;
            margin-bottom: 20px;
            position: relative;
            overflow: visible;

            h3{
                font-size: 13px;
            }

            .icon{
                margin-right: 5px;
            }
        }
    }
}