@import "../constants/constants";

.HistoryNextFloating{
    position: fixed;
    width: 234px;
    height: calc(100vh - 152px);
    z-index: $z-index-8000;
    user-select: none;
    border-radius: 20px;
    border: 1px solid $songs-container-border-col;
    background: var(--var-songs-container-bg-col);
    backdrop-filter: var(--var-bg-blur-150);
    box-shadow: $box-shadow-10-10-25;
    padding: 9px;
    padding-right: 0px;
    top: 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Track */
    ::-webkit-scrollbar-track { margin-top: 15px; margin-bottom: 0px; }

    .Upcoming_view{
        padding-right: 9px;
        height: calc(100% - 44px);
        overflow-y: auto;
    }

    .History_view{
        padding-right: 9px;
        height: calc(100% - 44px);
        overflow-y: auto;
    }

    .HistoryUpcoming_tabs{
        width: 225px;
        display: flex;
        justify-content: center;

        .Upcoming_tab, .History_tab{
            justify-content: center;
            align-items: center;
            position: relative;
            background: $on-hover-song;
            width: 112px;
            height: 34px;

            .selected{
                background: $white-900;
                position: absolute;
                inset: 0;
            }

            h3{
                position: relative;
                color: $white-900;
                mix-blend-mode: exclusion;
                font-size: 12px;
                text-align: center;
                margin-top: 9px;
            }
        }

        .Upcoming_tab{
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;

            .selected{
                border-top-left-radius: 13px;
                border-bottom-left-radius: 13px;
            }
        }

        .History_tab{
            border-top-right-radius: 13px;
            border-bottom-right-radius: 13px;

            .selected{
                border-top-right-radius: 13px;
                border-bottom-right-radius: 13px;
            }
        }

        .Upcoming_tab:hover, .History_tab:hover{
            background: $on-hover-song;
        }
    }
}

@media only screen and (max-width: 1250px){
    .HistoryNextFloating{
        margin-right: -12px;
    }
}

.HistoryNextFloating-ContextMenu-container{
    width: 100vw;
    height: calc(100vh - 32px);
    position: fixed;
    z-index: $z-index-9000;
    top: 32px;
    left: 0px;
}