@import "../constants/constants";

.SearchAlbums{
    margin-top: 20px;

    h6{
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    
    .SearchAlbums-container, .skeleton-loading{
        max-height: calc(100vh - 150px);
        height: fit-content;
        width: 100%;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-auto-rows: repeat(auto-fill, 205px);
        justify-content: space-between;
        padding-top: 3px;

        .skeleton-object{
            width: 125px;
            height: 125px;
            border-radius: 25px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 50px;
        }

        .bottom_margin{ height: 220px; }
    }

    .SearchAlbums-ContextMenu-container{
        width: 100vw;
        height: calc(100vh - 32px);
        position: fixed;
        z-index: $z-index-9000;
        top: 32px;
        left: 0px;
    }
}