@import "../constants/constants";

.SecuritySettings{
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    h2, h3{
        font-size: 24px;
        height: 24px;
        margin-top: 0px;
        margin-bottom: 23px;
    }
}