@import "../constants/constants";

.AllGenres{
    margin-top: 23px;
    min-width: 859px;
    width: calc(100vw - var(--var-right-side-bar-width-expanded));
    height: calc(100vh - 55px);
    overflow: hidden;
    scroll-behavior: auto;

    .AllGenres_title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        h1{
            font-size: 16px;
            margin-top: 0px;
            margin-left: 10px;
        }

        .sort_selector{
            display: flex;
            margin-right: 54px;

            h2{
                font-size: 13px;
                margin-top: 0px;
                width: 92px;
                margin-right: 13px;
            }

            .sort_dropdown_container{
                position: relative;
                overflow: visible;
                
                .sort_dropdown{
                    width: 150px;
                    height: 24px;
                    border-radius: 10px;
                    background: $app-theme-col;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    h4{
                        font-size: 13px;
                        height: 13px;
                        margin-top: 11px;
                        color: $root-app-navigator-hover-col;
                    }
                    
                    .chevron_icon{
                        width: 24px;
                        height: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 9px;
                        margin-right: 8px;
                        svg{
                            path{
                                stroke: $root-app-navigator-hover-col;
                            }
                        }
                    }
                }

                .DropDownMenu_container{
                    position: absolute;
                    top: 28px;
                    z-index: $z-index-8000;
                }
            }
        }

    }

    .drag-drop-border{
        width: calc(100vw - 227px);
        height: calc(100% - 130px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px dashed $root-app-navigator-hover-col;
        border-radius: 10px;

        h1{
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p{
            font-size: 14px;
            margin-bottom: 10px;
        }

        .add-folder-btn{
            width: 157px;
            height: 34px;
            border-radius: 15px;
            background: $app-theme-col;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;

            h2{
                font-size: 13px;
                height: 13px;
                margin-top: 11px;
                color: $root-app-navigator-hover-col;
                margin-right: 5px;
            }
        }
    }

    .drag-drop-border-hover{
        border: 1px dashed $app-theme-col;
    }

    .skeleton-loading{
        width: calc(100vw - 227px);
        max-height: calc(100% - 40px);
        height: fit-content;
        overflow-x: hidden;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-auto-rows: repeat(auto-fill, 205px);
        justify-content: space-between;

        .skeleton-object{
            width: 125px;
            height: 125px;
            border-radius: 25px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 50px;
        }
    }

    .AllGenres_container{
        min-width: 859px;
        max-height: calc(100% - 40px);
        height: fit-content;
        width: calc(100vw - var(--var-right-side-bar-width-expanded));
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-template-rows: repeat(auto-fill, 205px);
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;

        .bottom_margin{ height: 220px; }
    }
}

@media only screen and (max-width: 1300px){
    .AllGenres{
        min-width: 759px;
        width: calc(100vw - var(--var-right-side-bar-width-expanded));

        .drag-drop-border{
            min-width: 759px;
            width: calc(100vw - 227px);
        }

        .AllGenres_container, .skeleton-loading{
            min-width: 759px;
            width: calc(100vw - var(--var-right-side-bar-width-expanded));
        }
    }
}

.AllGenres-ContextMenu-container{
    width: 100vw;
    height: calc(100vh - 32px);
    position: fixed;
    z-index: $z-index-9000;
    top: 32px;
    left: 0px;
}

@media only screen and (max-width: 1180px){
    .AllGenres{
        min-width: 759px;
        width: calc(100vw - var(--var-right-side-bar-width-minimized));

        .drag-drop-border{
            min-width: 759px;
            width: calc(100vw - 227px);
        }

        .AllGenres_container, .skeleton-loading{
            min-width: 759px;
            width: calc(100vw - var(--var-right-side-bar-width-minimized));
        }
    }
}

@media only screen and (max-width: 1046px){
    .AllGenres{
        min-width: 759px;
        width: calc(100vw - var(--var-right-side-bar-width-smallest));

        .drag-drop-border{
            min-width: 759px;
            width: calc(100vw - 105px);
        }

        .AllGenres_container, .skeleton-loading{
            min-width: 759px;
            width: calc(100vw - var(--var-right-side-bar-width-smallest));
        }
    }
}