@import "../constants/constants";

.AllTracks{
    margin-top: 23px;
    min-width: 859px;
    width: calc(100vw - var(--var-right-side-bar-width-expanded));
    height: calc(100vh - 55px);
    overflow: hidden;
    scroll-behavior: auto;

    .AllTracks_title{
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;

        h1{
            font-size: 16px;
            margin-top: 0px;
        }

        .sort_selector{
            display: flex;
            margin-right: 54px;

            h2{
                font-size: 13px;
                margin-top: 3px;
                width: 82px;
                text-align: center;
            }

            .sort_dropdown_container{
                position: relative;
                overflow: visible;
                
                .sort_dropdown{
                    width: 150px;
                    height: 24px;
                    border-radius: 10px;
                    background: $app-theme-col;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    h4{
                        font-size: 13px;
                        height: 13px;
                        margin-top: 11px;
                        width: 109px;
                        color: $root-app-navigator-hover-col;
                        text-align: center;
                    }
                    
                    .chevron_icon{
                        width: 24px;
                        height: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 9px;
                        margin-right: 8px;
                        svg{
                            path{
                                stroke: $root-app-navigator-hover-col;
                            }
                        }
                    }
                }

                .DropDownMenu_container{
                    position: absolute;
                    top: 28px;
                    z-index: $z-index-8000;
                }
            }
        }

        .shuffle-btn{
            width: 150px;
            height: 24px;
            border-radius: 10px;
            background: $app-theme-col;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;

            h4{
                font-size: 13px;
                height: 13px;
                margin-top: 11px;
                color: $root-app-navigator-hover-col;
                margin-right: 5px;
            }
            
            svg{
                path{
                    stroke: $root-app-navigator-hover-col;
                }
            }
        }

    }

    .AllTracks_container{
        min-width: 859px;
        width: 100%;
        height: calc(100% - 45px);
        overflow-x: hidden;
        overflow-y: scroll;

        .AllTracks_container_bottom_margin{
            height: 75px;
        }
    }

    .bottom_margin{
        height: 85px;
    }
}

@media only screen and (max-width: 1300px){
    .AllTracks{
        min-width: 759px;
        width: calc(100vw - var(--var-right-side-bar-width-expanded));

        .AllTracks_container{
            min-width: 759px;
            width: calc(100vw - var(--var-right-side-bar-width-expanded));
        }
    }
}

.AllTracks-ContextMenu-container{
    width: 100vw;
    height: calc(100vh - 32px);
    position: fixed;
    z-index: $z-index-9000;
    top: 32px;
    left: 0px;
}

@media only screen and (max-width: 1180px){
    .AllTracks{
        min-width: 759px;
        width: calc(100vw - var(--var-right-side-bar-width-minimized));

        .AllTracks_container{
            min-width: 759px;
            width: calc(100vw - var(--var-right-side-bar-width-minimized));
        }
    }
}

@media only screen and (max-width: 1046px){
    .AllTracks{
        min-width: 759px;
        width: calc(100vw - var(--var-right-side-bar-width-smallest));

        .AllTracks_container{
            min-width: 759px;
            width: calc(100vw - var(--var-right-side-bar-width-smallest));
        }
    }
}