//normal

@font-face {
  font-family: 'inter-thin';
  src: url('../../../assets/fonts/Inter/Inter-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'inter-extra-light';
  src: url('../../../assets/fonts/Inter/Inter-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'inter-light';
  src: url('../../../assets/fonts/Inter/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'inter-regular';
  src: url('../../../assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'inter-medium';
  src: url('../../../assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'inter-semi-bold';
  src: url('../../../assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'inter-bold';
  src: url('../../../assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'inter-extra-bold';
  src: url('../../../assets/fonts/Inter/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'inter-black';
  src: url('../../../assets/fonts/Inter/Inter-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

//italic

@font-face {
  font-family: 'inter-italic-thin';
  src: url('../../../assets/fonts/Inter/Inter-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'inter-italic-extra-light';
  src: url('../../../assets/fonts/Inter/Inter-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'inter-italic-light';
  src: url('../../../assets/fonts/Inter/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'inter-italic-regular';
  src: url('../../../assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'inter-italic-medium';
  src: url('../../../assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'inter-italic-semi-bold';
  src: url('../../../assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'inter-italic-bold';
  src: url('../../../assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'inter-italic-extra-bold';
  src: url('../../../assets/fonts/Inter/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'inter-italic-black';
  src: url('../../../assets/fonts/Inter/Inter-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}