@import "../../constants/constants";

.DropDownMenuSmall{
    width: 140px;
    border-radius: 10px;
    background: $app-theme-col;
    padding: 5px;
    z-index: $z-index-8000;
    height: 0px;
    opacity: 0;
    border: 1px solid $songs-container-border-col;
    box-shadow: $box-shadow-10-10-25;

    div{
        h4{
            font-size: 13px;
            height: 13px;
            margin-top: 9px;
            margin-bottom: 9px;
            width: 100%;
            color: $root-app-navigator-hover-col;
        }
    }
}