@import "../../constants/constants";

.SwiperVanillaCards{
    height: 190px;
    width: 100%;
    display: flex;
    align-items: center;
    min-width: 859px;
    width: calc(100vw - var(--var-right-side-bar-width-expanded));

    .right-slider, .left-slider{
        cursor: pointer;
    }

    .right-slider:hover, .left-slider:hover{
        opacity: 0.8;
    }

    .swiper-frame{
        margin-left: 7px;
        margin-right: 7px;
        height: 190px;
        min-width: 797px;
        width: calc(100vw - var(--var-right-side-bar-width-expanded) - 62px);
        .swiper-slide{
            margin-left: 7px;
            margin-right: 7px;
            height: 190px;
            width: 125px;
            margin-top: 15px;
        }
    }
}

.SwiperVanillaCards-ContextMenu-container{
    width: 100vw;
    height: calc(100vh - 32px);
    position: fixed;
    z-index: $z-index-9000;
    top: 32px;
    left: 0px;
}

@media only screen and (max-width: 1300px){
    .SwiperVanillaCards{
        min-width: 759px;
        width: calc(100vw - var(--var-right-side-bar-width-expanded));

        .swiper-frame{
            min-width: 697px;
            width: calc(100vw - var(--var-right-side-bar-width-expanded) - 62px);
        }
    }
}

@media only screen and (max-width: 1180px){
    .SwiperVanillaCards{
        min-width: 759px;
        width: calc(100vw - var(--var-right-side-bar-width-minimized));
        
        .swiper-frame{
            min-width: 697px;
            width: calc(100vw - var(--var-right-side-bar-width-minimized) - 62px);
        }
    }
}

@media only screen and (max-width: 1046px){
    .SwiperVanillaCards{
        min-width: 759px;
        width: calc(100vw - var(--var-right-side-bar-width-smallest));
        
        .swiper-frame{
            min-width: 697px;
            width: calc(100vw - var(--var-right-side-bar-width-smallest) - 62px);
        }
    }
}